/****************************************
 * Color Pallete
 ****************************************/
    /** Neon Theme **
    #Malachite-Green : #04e762
    #Selective-Yellow : #f5b700
    #Red-Purple : #dc0073
    #Azure : #008bf8
    #Lawn-Green : #89fc00
    **/

/****************************************
 * General and Typography
 ****************************************/
body {
	font-family: 'Lato', sans-serif;
	position: relative;
	height: 100%;
	padding: 0;
	margin: 0;
}

body::after {
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.2;
	z-index: -1;
	position: absolute;
	background: url('../images/piano1024g.png');
	background-size: cover;
	background-repeat: no-repeat;

	pointer-events: none;
}

h1,
h2,
h3 {
	font-family: 'Bungee Inline', monospace;
	text-transform: uppercase;
	font-weight: 400;
}

h2 {
	font-size: 36px;
}

.home {
	background-color: #dc0073;
}

.get-media {
	background-color: #f5b700;
}

.shows {
	background-color: #008bf8;
}

.bio {
	background-color: #89fc00;
}

spacer {
	display: block;
	height: 1px;
	background-color: #333;
	margin: 0 12px;
}

figure {
	text-align: center;
}

figcaption {
	margin-bottom: 5px;
	font-style: italic;
}

/****************************************
 * Main title
 ****************************************/
.title {
	font-size: 22vw;
	line-height: 22vw;
	position: relative;
	display: inline;
	padding-bottom: 10px;
}

.title div {
	display: inline-flex;
	letter-spacing: -12px;
}

.title a,
.title a:hover,
.title a:active {
	text-decoration: none;
	color: inherit;
}

.title a:hover {
	text-shadow: 2px 2px white;
}

#hero::after {
	content: '';
	position: absolute;
	top: 22vw;
	left: -10px;
	right: -36px;
	padding-left: 10px;
	letter-spacing: 1px;
	background: linear-gradient(to right, white 90%, rgba(255, 255, 255, 0.0));
	z-index: 10000000;

	pointer-events: none;
}

#menu-home:hover ~ #hero::after {
	content: 'HOME';
}

#menu-media:hover ~ #hero::after {
	content: 'MEDIA'
}

#menu-bio:hover ~ #hero::after {
	content: 'BIO';
}

#menu-shows:hover ~ #hero::after {
	content: 'SHOW';
}

/****************************************
 * Shared Page Styles
 ****************************************/

.card {
	display: block;
	margin: 20px 0 25px;
	padding-top: 15px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 2px 2px 2px #333;
}

/****************************************
 * Media Page
 ****************************************/
.stage-card {
	padding: 15px 0 0;
	margin: 0 0 15px;
}

#stage {
	position: relative;
	padding-bottom: 51%;
}

.stage-backing::after {
	content: 'Geber Girls TV';
	font-size: 8vw;
	font-family: 'Bungee Inline', monospace;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 85%;
	text-align: center;
	transform: rotate(-7deg);

	position: absolute;
	left: 0;
	right: 0;
	top: 48%;
	opacity: 0.5;
}

#stage-title {
	margin: 0;
	font-size: 26px;
	text-align: center;
}

#get-media p {
	text-align: center;
}

.stage-item {
	position: absolute;
	width: 100%;
	height: 100%;
}

.video-card {
	margin: 0 0 10px;
	padding-top: 5px;
	font-size: 11px;
}

.yt-thumb {
	width: 100%;
}

/****************************************
 * Bio Page
 ****************************************/
.bio {
	padding-top: 0;
	font-size: 14px;
	line-height: 19px;
}

.bio h3:first-letter {
	font-size: 28px;
}

.bio-pic {
	text-align: left;
	margin: 0 0 15px;
}

.bio-member {
	min-height: 260px;
	padding-bottom: 5px;
}


/****************************************
 * Shows Page
 ****************************************/
.show {
	text-align: center;
}

.show-date {
	text-transform: uppercase;
	font-size: 20px;
	font-style: italic;
}

.show-location {
	margin: 0;
	font-family: 'Bungee Inline', monospace;
}


/****************************************
 * Keyframe animation and styling
 ****************************************/
.spin,
.wiggle {
	transform-origin: center center;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

.spin {
	animation-name: spin;
	animation-duration: 0.5s;
}

.wiggle {
	animation-name: wiggle;
	animation-duration: 1.0s;
}

@keyframes spin {
	from { transform:rotate(0deg); }
	to { transform:rotate(360deg); }
}

@keyframes wiggle {
	/* With some help from:
	https://css-tricks.com/snippets/css/shake-css-keyframe-animation/
	*/
	10%, 90% {
		transform: rotate(-4deg);
	}

	20%, 80% {
		transform: rotate(8deg);
	}

	30%, 50%, 70% {
		transform: rotate(-12deg);
	}

	40%, 60% {
		transform: rotate(12deg);
	}
}

/****************************************
 * Media queries
 ****************************************/
@media screen and (min-width: 390px) {
	.title {
		font-size: 90px;
		line-height: 90px;
	}

	#hero::after {
		top: 90px;
	}

	#menu-bio:hover ~ #hero::after {
		letter-spacing: 8px;
	}

	#menu-shows:hover ~ #hero::after {
		letter-spacing: 4px;
	}
}

@media screen and (min-width: 560px) {
	.bio-pic {
		margin: 0 15px 8px 0;
		float: left;
	}
}

@media screen and (min-width: 992px) {
	.bio-pic {
		margin: 0 0 15px;
	}

	.video-list {
		max-height: 396px;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.video-list::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		margin: auto 22px;
		z-index: -1;
	}
}

@media screen and (min-width: 1200px) {
	.video-list {
		max-height: 463px;
	}
}